.App {
  font-family: sans-serif;
  text-align: center;
}

.ListItem {
  height: 300px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Loading {
  height: 60px;
}
