body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button[name="naver"]:hover {
  background-color: #449f1e;
  transition: all 0.2s ease-in;
}
button[name="kakao"]:hover {
  background-color: #e5d119;
  transition: all 0.2s ease-in;
}
